@{
    ViewData["Title"] = "Home Page";
}

<div id="pageRoot">
    <h2 id="outputLabel"></h2>
    <button id="runButton">Run</button>
</div>

@section scripts {
    <page-load pageName="HomePage"></page-load>
}


