@{
    ViewData["Title"] = "Home Page";
}

<div id="pageRoot">
    <h2 id="outputLabel"></h2>
    <button id="runButton">Run</button>
</div>


@section scripts {
    <script src="~/js/SampleModel.js" asp-append-version="true"></script>
    <script src="~/js/HttpFetchService.js" asp-append-version="true"></script>
    <script src="~/js/SampleService.js" asp-append-version="true"></script>

    <script src="~/js/home.js" asp-append-version="true"></script>
}


